<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Dashboard</title>
  <link rel="stylesheet" href="/styles.css"> 
</head>
<body>
  <div class="widget-container">
    <script type="text/javascript" src="https://files.coinmarketcap.com/static/widget/coinMarquee.js"></script>
    <div id="coinmarketcap-widget-marquee" coins="1,1027,825,52,74,5994,512,24478" currency="USD" theme="dark" transparent="false" show-symbol-logo="true"></div>
  </div>

  <h1>Rayyanjul Currency</h1>
  <div class="container">
    <form>
      <div class="search-bar">
        <input type="text" id="search" placeholder="Search for a coin" oninput="searchCoins()"> 
      </div>
    </form>
    <table>
      <thead>
        <tr>
          <th>No</th> 
          <th>Name</th> 
          <th>Symbol</th> 
          <th>Price</th> 
          <th>1h %</th> 
          <th>24h %</th> 
          <th>7d %</th> 
        </tr>
      </thead>
      <tbody id="coinTableBody">
        <% coins.forEach((coin, index) => { %> 
          <tr>
            <td><%= (currentPage - 1) * 50 + index + 1 %></td> 
            <td><a href="/chart/<%= coin.symbol %>"><%= coin.name %></a></td> 
            <td><%= coin.symbol %></td> 
            <td>$<%= coin.quote.USD.price.toFixed(2) %></td> 
            <td><%= coin.quote.USD.percent_change_1h.toFixed(2) %> %></td> 
            <td><%= coin.quote.USD.percent_change_24h.toFixed(2) %> %></td> 
            <td><%= coin.quote.USD.percent_change_7d.toFixed(2) %> %></td> 
          </tr>
        <% }); %>
      </tbody>
    </table>
    <div class="pagination">
      <button onclick="window.location.href='/prevPage?start=<%= (currentPage - 2) * 50 + 1 %>'" <%= currentPage === 1 ? 'disabled' : '' %>>Prev Page</button>
      <button onclick="window.location.href='/nextPage?start=<%= currentPage * 50 + 1 %>'">Next Page</button>
    </div>  
  </div>

  <script>
    const coinsData = '<%- JSON.stringify(coins) %>';
    const coins = JSON.parse(coinsData);

    function searchCoins() {
      const searchQuery = document.getElementById('search').value.toLowerCase(); 
      const filteredCoins = coins.filter(coin => 
        coin.name.toLowerCase().includes(searchQuery) || 
        coin.symbol.toLowerCase().includes(searchQuery) 
      );

      const coinTableBody = document.getElementById('coinTableBody'); 
      coinTableBody.innerHTML = ''; 

      filteredCoins.forEach((coin, index) => {
        const row = document.createElement('tr'); 
        
        row.innerHTML = `
          <td>${index + 1}</td>
          <td><a href="/chart/${coin.symbol}">${coin.name}</a></td>
          <td>${coin.symbol}</td>
          <td>$${coin.quote.USD.price.toFixed(2)}</td>
          <td>${coin.quote.USD.percent_change_1h.toFixed(2)} %</td>
          <td>${coin.quote.USD.percent_change_24h.toFixed(2)} %</td>
          <td>${coin.quote.USD.percent_change_7d.toFixed(2)} %</td>
        `; 
        
        coinTableBody.appendChild(row); 
      });
    }
  </script>
</body>
</html>